@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: url('/cursor-32.png') 16 9, auto;
}

a, 
button, 
.hover-target {
  cursor: url('/cursor2-32.png') 16 9, pointer !important;
}


@keyframes imageDrop {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }

  20% {
    opacity: 1;
    transform: translateY(0);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }

  60% {
    opacity: 0;
    transform: translateY(100vh);
  }

  100% {
    opacity: 0;
    transform: translateY(100vh);
  }
}

@keyframes textDrop {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }

  20% {
    opacity: 0;
    transform: translateY(-100vh);
  }

  40% {
    opacity: 1;
    transform: translateY(-100vh);
  }

  60% {
    opacity: 1;
    transform: translateY(0);
  }

  80% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(100vh);
  }
}

.drop-image {
  animation: imageDrop 6s ease-in-out infinite;
  opacity: 0;
  transform: translateY(-100vh);
}

.drop-image.start {
  animation: imageDrop 6s ease-in-out infinite;
}

.drop-text {
  display: inline-block;
  opacity: 0;
  transform: translateY(-100vh);
}

.drop-text.start {
  animation: textDrop 6s ease-in-out infinite;
}